:root {
  --main: #00d2b5;
  --white: #fff;
  --secondary: #f6f6f6;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 48px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

a {
  color: black;
}

.section_title {
  font-size: 40px;
  font-weight: 700;
}

/* -----------------------Header-Start----------------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 54px;
}

.logo a {
  font-size: 32px;
  /* color: black; */
}

.logo_dot {
  color: var(--main);
}

.nav {
  margin: 10 auto;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: var(--white);
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 2px;
}

.nav_list a {
  padding: 10px 20px;
}
/* -----------------------Header-End----------------------------------------------- */

/* -----------------------Hero-Start----------------------------------------------- */

.hero {
  padding-top: 36px;
  padding-bottom: 122px;
}

.hero_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_left {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.hero_title {
  font-size: 56px;
  font-weight: 900;
}
.hero_text {
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 44px;
}

.hero_btn {
  background-color: var(--main);
  border-radius: 30px;
  color: var(--white);
  padding: 14px 32px;
  width: 156px;
}

.hero_btn:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--main);
  transition: all 0.8s;
}

.hero_image {
  max-width: 600px;
}

.hero_image img {
  width: 100%;
}

/* -----------------------Hero-End----------------------------------------------- */
/* -----------------------Features-Start----------------------------------------------- */

.features {
  background-color: var(--secondary);
  padding-top: 80px;
  padding-bottom: 80px;
}

.features_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}

.features_title {
  font-size: 16px;
  font-weight: 500;
}

.features_text {
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
}

.features_box {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 350px;
  background-color: var(--white);
  border-radius: 5px;
}

.features_box:hover {
  background-color: var(--main);
  color: var(--white);
  transform: translateY(-10px);
  transition: all 0.5s;
}

.features_box:hover .icon_wrap {
  background-color: var(--white);
  transition: all 0.5s;
}

.features_box:hover .learn_more {
  color: var(--white);
  transition: all 0.5s;
}

.icon_wrap {
  width: 40px;
  height: 40px;
  background-color: var(--main);
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 4px 20px -5px rgba(0, 210, 181, 0.4);
}

.icon_feature::before {
  display: inline-block;
  content: "\e863";
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.learn_more {
  color: var(--main);
}

/* -----------------------Features-End----------------------------------------------- */
/* -----------------------Create-Start----------------------------------------------- */

.create {
  padding: 80px 0;
}

.create_wrap {
  display: flex;
  gap: 30px;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--secondary);
}

.create_wrap_bottom {
  display: flex;
  gap: 30px;
  padding-top: 100px;
  flex-direction: row-reverse;
}

.create_image {
  max-width: 58%;
}

.create_image img {
  width: 100%;
}

.create_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 40px;
  max-width: 42%;
}

.create_content_bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 40px;
  justify-content: center;
  max-width: 42%;
}

.create_content_wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.create_subtitle {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 200;
}

.create_subtitle_icon i {
  width: 15px;
  height: 11px;
  color: #8bc34a;
}

.create_title {
  font-size: 24px;
  font-weight: 500;
}

.section_text {
  font-weight: 200;
  line-height: 28px;
}

.create_sub_card {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.1);
  gap: 24px;
}

.create_sub_card_box {
  display: flex;
  gap: 16px;
}

.create_sub_card_box_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.create_sub_card_title {
  font-weight: 700;
}

.create_sub_card_subtitle {
  font-weight: 300;
}

.create_sub_card_text {
  font-weight: 200;
  font-style: italic;
  line-height: 27.2px;
  width: 90%;
}

/* -----------------------Create-End----------------------------------------------- */
/* -----------------------About-Us-Start----------------------------------------------- */

.about {
  background-color: var(--secondary);
  padding: 80px 0 128px 0;
}

.about_title {
  text-align: center;
}

.about_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  margin-top: 60px;
  width: 100%;
}

.about_image {
  width: 50%;
}

.about_image img {
  border-radius: 4px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about_content {
  max-width: 430px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about_subtitle {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 400;
}

.about_text {
  font-weight: 100;
  line-height: 28px;
  color: #808080;
  font-weight: 300;
}

/* -----------------------About-Us-End----------------------------------------------- */
/* -----------------------Testimonial-Start----------------------------------------------- */

.owl-carousel {
}

.testemonials{
  padding: 80px 0;
}

.testemonials_title{
  text-align: center;
  padding-bottom: 64px;
}

.testemonials_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

}

.testemonials_box_icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.testemonials_text {
  font-size: 24px;
  font-weight: 200;
  line-height: 40.8px;
  font-style: italic;
}

.testemonials_subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}

/* -----------------------Testimonial-End----------------------------------------------- */
